/* Reset */

body, header, section, footer, div, h1, h2, h3, p, form, textarea, button{
	padding: 0;
	margin: 0;
}

html{
	font-size: 62.5%;
}

/* Font Family Import */

@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face{font-family:'FontAwesome';src:url('fonts/fontawesome-webfont.eot?v=4.7.0');src:url('fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),url('fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),url('fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),url('fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),url('fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');font-weight:normal;font-style:normal}


form, textarea, button{
	border: 0;
	outline: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Roboto', sans-serif, Arial;
	background-color: #F5F5F5;
}

/* Actual Style */

header{
	position: relative;
	width: 100%;
	height: 60px;
	line-height: 60px;
	padding: 0 15px;
	background-color: #2196F3;
	color: #fff;
	font-size: 1.6rem;
	box-shadow: 0 2px 5px 0 rgba(0,0,0, .3);
	box-sizing: border-box;
	z-index: 2;
}

/* Chat Style */

section{
	top: 60px;
	left: 0;
	position: absolute;
	width: 100%;
	height: calc(100% - 60px);
}

#chatHolder{
	position: relative;
	width: 60%;
	height: 85%;
	margin: auto;
	box-sizing: border-box;
	overflow-x: hidden;
}

#chatHolder::-webkit-scrollbar { 
  /* This is the magic bit */
  display: none;
}

.bubbleWrap-left{
	display: block;
	width: 100%;
	margin-top: 15px;
	text-align: left;
}

.bubbleWrap-left .textBubble p:nth-of-type(1){
	background-color: #1DE9B6;
}

.bubbleWrap-right .textBubble p:nth-of-type(1){
	background-color: #2979FF;
}

.bubbleWrap-right{
	display: block;
	width: 100%;
	margin-top: 15px;
	text-align: right;
}

.textBubble{
	display: inline-block;
	width: calc(50% - 20px);
}

.textBubble p:nth-of-type(1){
	width: 100%;
	height: auto;
	padding: 5px;
	line-height: 20px;
	font-size: 1.5rem;
	color: #fff;
	text-align: left;
	border-radius: 3px;
}

.textBubble p:nth-of-type(2){
	margin-top: 5px;
	font-size: 1.3rem;
	color: rgba(0,0,0, .4);
}

/* Form Style */

#chatForm{
	position: relative;
	width: 60%;
	height: 10%;
	margin: auto;
	margin-top: 15px;
}

#chatForm textarea{
	width: 100%;
	height: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 80px;
	border-radius: 3px;
	resize: none;
	border: 3px solid #2979FF;
	box-sizing: border-box;
	font-family: Arial;
	font-size: 1.5rem;
}

#chatForm button[name="inputSend"]{
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 70px;
	height: 100%;
	background-color: #2979FF;
	color: #fff;
	font-size: 1.8rem;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	z-index: 1;
	font-family: FontAwesome;
}
#chatForm button[name="inputMic"]{
	position: absolute;
	top: 0;
	right: 70px;
	display: block;
	width: 70px;
	height: 100%;
	background-color: #2979FF;
	color: #fff;
	font-size: 1.8rem;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	z-index: 1;
	font-family: FontAwesome;
}

/*table {
	min-width: 90vw;
	min-width: 98vw;
    min-height: 80vh;
}

table, td, th {
	background-color: #c06e52;
  	empty-cells: show;
	border-collapse:collapse; 
  	border-color:#43281c; 
	border-style:solid; 
	border-width:2px;
	color: #AAFF1c;
}

hr {
	color: #ccFA41;
}

th {
    height: 80%;
    background-color: #99D7F5;
}

.user-input, td {
	width: 100%;
}

input[type="textarea"] {
	width: 100%;
	height: 100%;
}
*/